<div class="row">
    <div class="col-xs-6">
        <h2><%= current_user.name %>'s Dashboard</h2>
    </div>
    <div class="col-xs-6">
        <%= link_to "Add New Image", new_image_path, :class => "btn btn-info" %>
    </div>
    <div id="all-images col-xs-12">
    <% @images.each do |image| %>
        <div style="padding-top:5px;padding-bottom:5px">
            <%= image_tag image.filename %>
            <%= link_to "Edit Image", image_path(image.id), :class => "btn btn-warning" %>
        </div>
    <% end %>
    </div>
</div>