<section class="mountain">
    <div class="text-centered" id="mountain-text">
        <h1>EVER WONDER JUST WHERE YOU FALL ON THE MOUNTAIN?</h1>
        <h1>NOW YOU CAN FIND OUT.</h1>
    </div>
</section>